@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: auto;
    max-width: 600px;
    background-image: linear-gradient(to left bottom, #2646dc, #4b43dc, #633fdb, #783ada, #8a34d8, #6d56eb, #486ef8, #0082ff, #00a7ff, #00c7ff, #00e3fe, #5ffbf1);
}
h1{
    text-align: center;
    background-color: green;
}

.container{
    
    margin-left: auto;
    margin-right: auto;
    
    
    }
input,label{
    display: block;
}
label{
    text-align: center;
    margin: 10px;
    background-color: blue;
    font-size: 1.2rem;
    color: yellow;
}

input{
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

button{
   margin: auto;
   border-radius: 0.2rem;
   padding: 0.5rem;
}
.center{
    text-align: center;

}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    background-color: wheat;
}